<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Room</title>
</head>
<body>
	<h1>Куда хотите попасть?</h1>
    <nav>
        <ul>
            <li><a href="/adm">Управление ингридиентами</a></li>
            <li><a href="/admfood">Управление едой</a></li>
            <li><a href="/">Домой</a></li>
        </ul>
    </nav>
</body>
</html>
